*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   line-height: 1.5;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    position: relative;
}

.cursor{
    width: 3rem;
    height: 3rem;
    border: 1.5px solid #CBFFCB;
    border-radius: 50%;
    position: absolute;
    z-index: 10100;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all 0.4s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.link-grow{
    transform: scale(1.7);
    background-color:  black;
}

.hovered-link{
    position: relative;
    z-index: 10110;
}

a{
    text-decoration: none;
    color: white;
}

header {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ), url(img/headerphoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.svg{
    position: absolute;
    left:-100%;
    overflow: hidden;
    animation: jwdAnimation 3s forwards;
    animation-delay: 1s;
    animation-timing-function: ease-in;
}

@keyframes jwdAnimation{
    
    10%{
        left:-100%;
    }
    100%{
        left:0px;
        top:100px;
    }
}

.nav-bar{
    list-style-type: none;
    display:flex;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    justify-content: flex-end;
}

#nav-bar{
    position: fixed;
    z-index: 99900;
    right:0%;
}


.header-li{
    padding: 1rem;
    margin: 20px 10%;
}

.header-li-last{
    margin-right:50px;
}


.big-text{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 5.5em;
    position:absolute;
    top: 40%;
    left:15%;
    opacity: 0;
    z-index: 504;
    animation:bigTextAnimation 2s forwards;
    animation-delay: 2s;
}

@keyframes bigTextAnimation{
    20%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}


.line-1{
    width:400px;
    height:10px;
    background-color: #CBFFCB;
    position: absolute;
    top: 50%;
    left:60%;
    z-index: 503;
}

.line-2{
    width:400px;
    height:10px;
    background-color: #C209FF;
    position: absolute;
    top: 80%;
    left:30%;
    z-index: 502;
}
/*.line-3{
    width:10px;
    height:400px;
    background-color: #CBFFCB;
    position: absolute;
    top: 60%;
    left:40%;
    z-index: 501;
}*/

.line-4{
    width:10px;
    height:400px;
    background-color: #C209FF;
    position: absolute;
    top: 30%;
    left:70%;
    z-index: 500;
}

/*beggining animation*/

.intro-animation{
    background-color: #CBFFCB;
    position: fixed;
    z-index: 99999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    animation: backgroundAnimation 3s forwards;
}

h1.welcome{
    color:#CBFFCB;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4rem;
}

h2.intro-text{
    color:#CBFFCB;
    font-family: 'Martel Sans', sans-serif;
    font-size: 3rem;
}

@keyframes backgroundAnimation{
    40%{
        background-color:black;
        transform: translateY(0);
    }
    70%{
        background-color: #000000;
        transform: translateY(0);
    }
    100%{
        background-color: #000000;
        transform: translateY(-100%);
    }
}


/*main*/

main{
    width:100vw;
}

.about-container{
    display: flex;
    justify-content: center;
}

.about{
    width:550px;
    margin: 50px 20px 0 0;
    padding: 0 20px;
    text-align: justify;
}

.text-title{
    color: #CBFFCB;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 150px 0 30px 12%;

}

.text-about{
    padding-bottom: 15px;
    font-family: 'Biryani', sans-serif;
    font-size: 1.1rem;
}

.about-images{
    width:500px;
    position: relative;
}

.me-photo{
    width: 100%;
    max-width:300px;
    height:auto;
    filter: drop-shadow(5px 5px 20px #000000);
    border-radius: 65px;
    margin-top: 250px;
    margin-left: 8%;
    position: relative;
    z-index: 1000;
}

.purple-photo{
    width:100%;
    max-width:400px;
    height:auto;
    filter: drop-shadow(5px 5px 20px #000000);
    border-radius: 65px;
    position: absolute;
    margin-top: 390px;
    left: 17%;
    z-index: 800;
    transform: rotate(166.84deg);

}

.line-5{
    width:400px;
    height:12px;
    background-color: #CBFFCB;
    position: absolute;
    margin-top: -500px;
    left:15%;
    z-index: 850;
}

/*portfolio*/

#portfolio-container{
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(img/portfoliobg.jpg);
    background-position: center;
    position: relative;
    z-index: 1;
}

.portfolio-title{
    display: inline-block;
    background-color: black;
}

.portfolio-flex{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.portfolio-item{
    width:360px;
    position:relative;
}

.site-text-1{
    position: relative;
    z-index: 15;
    margin-left: 10%;
}

.site-text-2{
    position: relative;
    z-index: 13;
    margin-top: 10%;
}

.site-text-3{
    position: relative;
    z-index: 14;
    margin-top: 40%;
    margin-left: 10%;
}

.site-name{
    background-color: black;
    display: inline-block;
    padding: 0 5px;
    font-family: 'Martel Sans', sans-serif;
    font-size: 1.5rem;
}


.site-description{
    background-color: black;
    display: inline-block;
    padding: 0 5px;
    font-family: 'Biryani', sans-serif;
    font-size: 1rem;
}

.portfolio-img1{
    width:100%;
    max-width: 360px;
    height:auto;
    position: relative;
    z-index: 3;
}

.portfolio-img2{
    width:100%;
    max-width: 360px;
    height:auto;
    position: absolute;
    margin-top: 90%;
    left:-15%;
    z-index: 1;
}
.portfolio-img3{
    width:100%;
    max-width: 360px;
    height:auto;
    position: absolute;
    z-index: 2;
    margin-top: 80%;
}

.portfolio-block{
    display: none;
}

/*contact*/

.contact-title{
    margin-top:300px;
}


.contact-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
}


.belgrade-photo{
    position: relative;
    overflow: hidden;
}

#location, #place{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    left: 10%;
}

#belgrade{
    width:500px;
    height: auto;
    position:relative;
    z-index: 300;
}

#location{
    position:absolute;
    top:0;
    opacity: 0;
    z-index: 301;
}

#place{
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: 302;
}

.belgrade-photo:hover > #location{
    transform: translate(0,100px);
    transition-duration: 1s;
    opacity: 1;
}

.belgrade-photo:hover > #place{
    transform: translate(0,-100px);
    transition-duration: 1s;
    opacity: 1;
}


.contact-bg{
    width:500px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

input{

    color:white;
    padding: 10px;
    background: transparent;
    border: 0;
    font-family: 'Biryani', sans-serif;
    border-bottom: 2px solid #CBFFCB;
}

input:focus{
    border-right: 2px solid #CBFFCB;
    -webkit-box-shadow: 4px 5px  #C209FF;
    -moz-box-shadow: 4px 5px  #C209FF;
    box-shadow: 4px 5px  #C209FF;
}

textarea:focus{
    -webkit-box-shadow: 4px 5px  #CBFFCB;
    -moz-box-shadow: 4px 5px  #CBFFCB;
    box-shadow: 4px 5px  #CBFFCB;
}

::placeholder { 
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
}

textarea{
    padding: 10px;
    background-color: #C209FF;
    font-family: 'Biryani', sans-serif;
    border: none;
}

input, textarea {
    margin:20px 0;
}

.submit-button{
    display: inline-block;
    margin:0 auto;
}

#submit{
    border:none;
    background-color: #CBFFCB;
    color:black;
    padding:10px 20px 8px 20px;
    font-size: 1.3rem;
}

#submit:hover{
    -webkit-box-shadow: 4px 5px  #C209FF;
    -moz-box-shadow: 4px 5px  #C209FF;
     box-shadow: 4px 5px  #C209FF;
     cursor: pointer;
}

/*footer*/

footer{
    width:100vw;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(img/headerphoto.jpg);
}

input:focus, textarea:focus{
    outline:none;
}

#nav-bar-2{
    flex:1;
}

.header-li-2{
    padding: 1rem;
    margin: 20px 8% 20px 0;
}

.header-li-last-2{
    margin-right:30px;
}
.svg-bar{
    display:flex;
    list-style-type: none;
    flex: 1;
    justify-content: center;
    transform:scale(0.8);
}

#insta-icon{
    margin: 3px 20px 0 20px;
}


/* media queries*/

@media only screen and (max-width: 1100px) and (min-width: 900px) {
    .portfolio-item{
        width:290px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
    .portfolio-item{
        width:230px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 700px) {
    .big-text{
        font-size: 4.5rem;
        left:10%;
    }


    .nav-bar{
        font-size: 1rem;
    }

    .header-li{
        padding: 0.7rem;
        margin: 30px 8% 30px 0;
        
    }

    .line-5,.me-photo, .purple-photo, .site-description{
        display: none;
    }

    .line-1, .line-2{
        width: 200px;
        height: 7px;
    }

    /*.line-3,*/ .line-4{
        width:7px;
        height:200px;
    }

    .line-1{
        top:40%;
    }

    .about-container{
        display: block;
        position: relative;
        margin-bottom: 150px;
    }

    .about{
        width:90%;
        max-width: 950px;
        margin: 0 auto;

    }

     #portfolio-container{
        background-size: 300px auto;
    }

    .portfolio-title{
        margin-top: 0;
    }

    footer {
        height:150px;
        margin-top: 100px;
    }

}

@media only screen and (max-width: 700px) {

    h1.welcome{
        font-size: 3rem;
    }
    h2.intro-text{
        font-size: 2rem;
    }

    .header-li{
      
        margin: 10px 0 0 0;
    }
    
    .header-li-last{
        margin-right:20px;
    }


     .line-1, .line-2, /*.line-3*,*/ .line-4, .line-5,
    .line-6, .line-7, .me-photo, .purple-photo, .site-description,
    .temporary, .cursor, .portfolio-flex, .belgrade-photo{
        display: none;
    }


    .about-container{
        display: block;
        position: relative;
    }

    .about{
        width:95%;
        max-width: 680px;
        margin: 0 auto;

    }

    #portfolio-container{
        background-image: none;
    }

    .portfolio-block{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .site-name{
        padding:5px;
    }

    .portfolio-mob-item{
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;

    }

    .portfolio-mob-img1{
        width:95%;
        max-width: 330px;
        height: auto;
    }
    .portfolio-mob-img2{
        width:95%;
        max-width: 330px;
        height: auto;
    }
    .portfolio-mob-img3{
        width:95%;
        max-width: 330px;
        height:auto;
    }

    footer {
        height:150px;
        margin-top: 100px;
        display: block;
    }

    .header-li-2{
        padding: 1rem;
        margin: 0 auto;
    }
    
    /*.header-li-last-2{
        margin-right:30px;
    }*/
}

@media only screen and (max-width: 450px) {
    

    .big-text{
        font-size: 2.5rem;
        left:10%;
    }
}

@media only screen and (max-width: 700px) and (min-width: 450px){

    .big-text{
        font-size: 4rem;
        left:15%;
    }

}